  <mat-card class="flight-parent-mat-card" *ngFor="let flight of flights">
    <mat-card-header>
      <mat-card-title>{{flight.slices[0].origin_name}}
        <span>&#8644;</span>
        {{flight.slices[0].destination_name}}
      </mat-card-title>
      <mat-card-subtitle>Round Trip Cost  {{flight.price}} Euro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div>
          <mat-card class="flight-info-mat-card">
            <mat-card-header>
              <mat-card-title>
                <span class="material-icons">flight_takeoff</span>
                Departing Flight
              </mat-card-title>
              <mat-card-subtitle>Flight Number: {{ flight.slices[0].flight_number }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
             {{flight.slices[0].origin_name}}: {{ flight.slices[0].departure_date_time_utc }}
             <span class="material-icons"> arrow_forward </span>
              {{flight.slices[0].destination_name}}: {{ flight.slices[0].arrival_date_time_utc}}
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="flight-info-mat-card">
            <mat-card-header>
              <mat-card-title>
                <span class="material-icons"> flight_land </span>
                Arriving Flight
              </mat-card-title>
              <mat-card-subtitle>Flight Number: {{ flight.slices[0].flight_number }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              {{flight.slices[1].origin_name}}: {{ flight.slices[1].departure_date_time_utc}}
             <span class="material-icons"> arrow_forward </span>
              {{flight.slices[0].destination_name}}: {{ flight.slices[1].arrival_date_time_utc}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  